@page "/"
@using blazor.Services
@inject DbService DbService;
@inject UserService UserService;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<MudMainContent>
    <MudContainer>
        <div style="display: flex; flex-flow: column">
            <MudTextField Class="mr-10 mb-1" Label="Username" @bind-Value="@Username" />
            <MudTextField Class="mr-10 mb-1" Label="Password" @bind-Value="@Password" />
            <MudTextField Class="mr-10 mb-5" Label="Email" @bind-Value="@Email" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="register">Register</MudButton>
        </div>
    </MudContainer>
</MudMainContent>

@code{
    private string Username { get; set; }
    private string Password { get; set; }
    private string Email { get; set; }

    public void register()
    {
        StateHasChanged();
        Console.WriteLine("Registering user");
        User user = new User();
        user.Username = Username;
        user.Password = Password;
        user.Email = Email;

        UserService.CreateUser(user);
    }
}